.project-tic-tac-toe {
  display: grid;
  gap: 2.5rem;
}

.project-tic-tac-toe-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-tic-tac-toe-info h1, p {
  margin: 0;
}
.project-tic-tac-toe-info span {
  margin-top: 25px;
  font-size: 1.3rem;
  font-weight: bold;
}

