.products-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.products-list ul {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(246px, 246px));
  grid-auto-rows: 372px;
  gap: 1rem;
  justify-content: center;
}

.products-list li {
  width: 214px;
  height: 338px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, .1);
  border-radius: 4px;
  background: #111;
  color: #fff;
  padding: 1rem;
}

.products-list h3 {
  margin: 0;
}

.products-list span {
  font-size: 1rem;
  opacity: .9;
}

.products-list img {
  border-radius: 4px;
  width: 100%;
  display: block;
  object-fit: cover;
  background: #fff;
}

.remove-from-cart {
  background-color: rgba(255, 0, 0, 0.3);
}

.remove-from-cart:hover {
  background-color: rgba(255, 0, 0, 0.2);
  border-color: red
}